/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

// Vars

$nav-color: #222222;
$text-color: #333333;

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Padding */

.bg {
    background-color: #EEEAFF;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}


/* Margin */

.m-5 {
    margin: 5px;
}

.m-15 {
    margin: 15px
}

.m-20 {
    margin: 20px;
}

// Margin Left <-

.ml-5 {
    margin-left: 5px;
}

.ml-15 {
    margin-left: 15px
}

.ml-20 {
    margin-left: 20px;
}

// Margin right ->

.mr-5 {
    margin-right: 5px;
}

.mr-15 {
    margin-right: 15px
}

.mr-20 {
    margin-right: 20px;
}

// Margin Top ^

.mt-5 {
    margin-top: 5px;
}

.mt-15 {
    margin-top: 15px
}

.mt-20 {
    margin-top: 20px;
}

// Margin Bottom _

.mb-5 {
    margin-bottom: 5px;
}

.mb-15 {
    margin-bottom: 15px
}

.mb-20 {
    margin-bottom: 20px;
}


/* Align */ 

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

a {
    text-decoration: none;
    color: $nav-color;
    margin: 0 20px;
}

.containear {
    min-width: 960px; 
}

.headline {
    font-size: 55px;
    font-weight: 300
}

/* SASS */
@import '_header.scss';
@import '_section1.scss';
@import '_section2.scss';
@import '_section3.scss';
@import '_section4.scss';
@import '_footer.scss';